body {
    display: flex;
    justify-content: center;
    background: lightblue;
}

form {
    display: flex;
    flex-direction: column;
    padding: 50px;
    background-color: teal;
}

.sex,
.interest {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
}

.text {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
}

input,
select {
    border: none;
    border-radius: 10px;
    background-color: yellowgreen;
}

.country,
#message {
    margin-bottom: 20px;
}
